.exploreCanvas{
  position: fixed;
  z-index: 10;
  top:0;
  left:0;
  //right:0;
  bottom:0;
  width: 55%;
  background: #d6d6d6;
}
.exp-progress{
  position: fixed;
  width: 200px;
  height: 14px;
  //margin-left: -100px;
  margin-top: -7px;
  top:50%;
  left: 30%;
  @include border-box();
  border: 2px solid #fff;
  padding: 3px;
  z-index: 1000;
  .expp-loaded{
    position: relative;
    float: left;
    width: 0%;
    height: 100%;
    background: #fff;
    @include transition(1s);
  }
}

.ell-message{
  position: fixed;
  bottom: 0;
  left: 0%;
  right: 45%;
  height: 50px;
  line-height:50px;
  text-align: center;
  font-size: 20px;
  font-family: g-m;
  color: rgba(0,0,0,0.3);
}

.exploreLanding{
  position: relative;
  float: left;
  z-index: 100;
  .el-camTrigger{
    position: absolute;
    width: 55%;
    top:0;
    bottom:0;
    left:0;
    z-index: 1;
  }
  .el-left.horizontal{
    position: absolute;
    left: 5%;
    right: 50%;
    width: auto;
    padding-top:80px;
    bottom: auto!important;
    height: auto!important;
    .ell-item{
      width: 30%;
      margin: 0 1.65%;
      float: left;
      display: block;
    }
    .ell-item.active{
      background: rgba(255,255,255,0.5);
      border-color: rgba(255,255,255,0.4);
    }
  }
  .el-right,
  .el-left{
    position: absolute;
    left:5%;
    z-index: 100;
    width: 200px;
    height: 100%;
    padding-top:200px;
    .ell-item:hover{
      cursor: pointer;
      //background: rgba(255,255,255,0.2);
    }
    .ell-item.active{
      background: #fff;
      color: #000;
    }
    //.ell-item:before,
    //.ell-item:after{
    //  content: '';
    //  float: left;
    //  position: absolute;
    //  left: - 30px;
    //  width: 10px;
    //  top:24px;
    //  height: 2px;
    //  background: rgba(255,255,255,1);
    //  @include transition(0.5s)
    //}
    .ell-item:hover:after{
      width: 30px;
    }
    .ell-item.active:after,
    .ell-item.active:hover:after{
      width: 30px;
      background: #fff;
    }
    .ell-item:before{
      width: 12px;
      height: 12px;
      @include border-radius(100%);
      border: 2px solid rgba(255,255,255,1);
      left: -42px;
      top: 19px;
      background: none;
    }
    .ell-item{
      @include transition(0.5s);
      position: relative;
      width: 100%;
      height: 50px;
      margin: 20px 0;
      font-family: g-m;
      line-height:50px;
      text-align: center;
      color: #fff;
      font-size: 120%;
      @include border-box();
      border: 1px solid rgba(255,255,255,1);
      border-color: rgba(255,255,255,0.1);
    }
  }
  .el-right:before,
  .el-right:after{
    content: '';
    display: block;
    float: left;
    position: fixed;
    top:0;
    width: 45%;
    right: 0;
    height: 80px;
    z-index: 10;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,1+25,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

  }
  .el-right:after{
    height: 120px;
  }
  .el-right:before{
    bottom: 0;
    top: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+75,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  }

  .el-right::-webkit-scrollbar              { width: 12px; background: #ddd; }
  .el-right::-webkit-scrollbar-button       { opacity: 0; }
  .el-right::-webkit-scrollbar-track        { opacity: 0; }
  .el-right::-webkit-scrollbar-track-piece  { opacity: 0; }
  .el-right::-webkit-scrollbar-thumb        { background: rgba(255,255,255,0.4) }
  .el-right::-webkit-scrollbar-corner       {  opacity: 0;}
  .el-right::-webkit-resizer                {  opacity: 0; }



  .el-right{
    left:auto;
    color: #333333;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background: #fff;
    right: 0;
    width: 45%;
    bottom: 0;
    top: 0;
    height: auto;
    overflow: auto;
    padding-left:80px;
    padding-right:80px;
    padding-top:80px;
    padding-bottom:0px;
    .elr-head{
      position: relative;
      width: 100%;
      font-size: 25px;
      float: left;
      margin-bottom: 30px;
    }
    .elr-cont{
      position: relative;
      float: left;
      line-height:1.56;
      margin-bottom: 130px;
      font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      table{
        width: 100%;
        margin-top: 30px;
        td{
          padding-right: 20px;
        }
      }
      p{
        line-height: 150%;
        width: 100%;
        display: block;
        float: left;
      }
      .elrc-heading{
        float: left;
        font-size: 140%;
        //font-family: g-b;
        clear: both;
        margin-top: 20px;
      }
      .elrh-bold{
        //font-family: g-b;
        float: left;
      }
      .elrh-chips.-big{
        line-height:40px;
        height: 40px;
        font-size: 120%;
        clear: both;
        @include border-radius(20px)
      }
      .elrh-chips{
        //font-family: g-b;
        color: #222;
        display: block;
        float: left;
        background: #fff;
        padding: 0 10px;
        height: 26px;
        line-height:26px;
        margin-top: 2px;
        margin-left: 3px;
        font-size: 80%;
        @include border-radius(15px)
      }
      .elrc-main{
        //font-family: g-b;
        font-size: 150%;
      }
    }
  }
}

.exploreL2{
  width: 100%;
  float: left;
  z-index: 100;
  position: relative;
  background: #fff;
}
