/*Lap*/
/*Tab*/
/*Mobile*/
box, .header .logo, .header ul, .header ul li, .homePage, .hp-landing, .hp-landing .hml-video, .pageBlock, .pageBlock .pb-content, .pageBlock .pb-content .pbc-heading-1,
.pageBlock .pb-content .pbc-heading-2,
.pageBlock .pb-content .pbc-description, .pageBlock .pb-content .pbc-button, .pageBlock .hmt2-servo, .paraDiv, .paraDiv .hm-drone, .paraDiv .hm-drone .droneContainer {
  display: block;
  float: left;
  position: relative;
  /* Chrome/Safari */
  /* Firefox */
  -ms-box-sizing: border-box;
  /* IE10+ */
  -o-box-sizing: border-box;
  box-sizing: border-box; }

basicFond {
  font-family: g-m;
  font-size: 14px; }

.wwa-head-set {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 100vh;
  margin-bottom: -25vh; }

.wwa-motto,
.wwa-head {
  width: 100%;
  font-size: 130px;
  font-family: g-l;
  color: #000;
  text-align: center;
  text-transform: uppercase; }
.wwa-motto span,
.wwa-head span {
  font-family: g-l;
  color: #ec0001; }

.wwa-motto {
  letter-spacing: .1em;
  margin-top: 0px;
  font-size: 13px;
  color: #555;
  font-family: g-m;
  margin-bottom: 200px; }

.imgBox {
  position: relative;
  float: left;
  width: 500px;
  height: 500px;
  margin: 50px; }

.wwa-al-left {
  width: 40vw;
  margin-left: 8vw;
  margin-top: 25vh;
  overflow: hidden;
  position: relative; }
.wwa-al-left img {
  position: absolute;
  left: 0;
  width: 100%; }

.wwa-al-right {
  width: 40vw;
  margin-left: 2vw;
  margin-top: 25vh; }
.wwa-al-right .wwa-c-head1,
.wwa-al-right .wwa-c-head2 {
  font-size: 55px;
  font-family: g-l; }
.wwa-al-right .wwa-c-head2 {
  font-size: 60px;
  font-family: g-b; }
.wwa-al-right .wwa-c-cont {
  font-family: g-m;
  font-size: 100%;
  width: 72%;
  text-align: justify!important;
  text-justify: inter-word!important;
  line-height: 140%;
  margin-top: 50px; }

.wwa-itemSet {
  position: relative;
  float: left;
  width: 80vw;
  margin: 100px 10vw; }
.wwa-itemSet .wwa-item:hover {
  cursor: pointer; }
.wwa-itemSet .wwa-item:hover .wwai-hover-cont {
  -webkit-transform: scale(1);
  transform: scale(1); }
.wwa-itemSet .wwa-item:hover .wwai-img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }
.wwa-itemSet .wwa-item.active {
  z-index: 1000; }
.wwa-itemSet .wwa-item.active .wwa-item-background {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.2); }
.wwa-itemSet .wwa-item.active .wwa-item-background .wwai-data {
  display: block; }
.wwa-itemSet .wwa-item.active .wwa-item-background .wwa-item-cont {
  background: #fff;
  top: 10%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  position: absolute;
  width: auto;
  height: auto; }
.wwa-itemSet .wwa-item.active .wwa-item-background .wwa-item-cont .wwai-name {
  display: none; }
.wwa-itemSet .wwa-item.active .wwa-item-background .wwa-item-cont .wwai-img {
  margin-left: 50%;
  margin-top: 80px;
  -webkit-transform: scale(0.9) translateX(-7.73332vw);
  transform: scale(0.9) translateX(-7.73332vw); }
.wwa-itemSet .wwa-item.active .wwa-item-background .wwa-item-cont .wwai-hover-cont {
  z-index: 10;
  display: none; }
.wwa-itemSet .wwa-item {
  width: 15.46664vw;
  margin: 50px 7%;
  float: left;
  cursor: pointer;
  position: relative;
  z-index: 100; }
.wwa-itemSet .wwa-item .wwa-item-contDummy {
  width: 15.46664vw;
  height: 15.46664vw; }
.wwa-itemSet .wwa-item .wwa-item-background {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s; }
.wwa-itemSet .wwa-item .wwa-item-cont {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  float: left; }
.wwa-itemSet .wwa-item .wwai-name.-small {
  //font-size: 130%;
  font-size: 16px;
  color: #006383;
  margin-top: 0;
  height: auto; }
.wwa-itemSet .wwa-item .wwai-name-cont {
  float: left;
  height: 70px;
  width: 100%; }
.wwa-itemSet .wwa-item .wwai-name {
  width: 100%;
  float: left;
  text-align: center;
  font-family: g-m;
  font-size: 20px;
  margin-top: 30px;
  line-height: 140%; }
.wwa-itemSet .wwa-item .wwai-img {
  width: 15.46664vw;
  height: 15.46664vw;
  background: #eee;
  float: left;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  border-radius: 100%;
  position: relative;
  overflow: hidden; }
.wwa-itemSet .wwa-item .wwai-img img {
  width: 100%;
  height: 100%; }
.wwa-itemSet .wwa-item .wwai-hover-cont {
  position: absolute;
  width: 15.46664vw;
  height: 15.46664vw;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }
.wwa-itemSet .wwa-item .wwai-hover2,
.wwa-itemSet .wwa-item .wwai-hover {
  position: absolute;
  width: 15.46664vw;
  height: 15.46664vw;
  top: 0;
  left: 0;
  z-index: -1;
  /* Chrome/Safari */
  /* Firefox */
  -ms-box-sizing: border-box;
  /* IE10+ */
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  border: 8px solid #f61d1e;
  border-bottom-color: transparent;
  border-top-color: transparent;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-animation: itemHover 8s linear infinite;
  animation: itemHover 8s linear infinite; }
.wwa-itemSet .wwa-item .wwai-hover2 {
  border: 2px solid #c1bdbd;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: itemHover2 3.5s linear infinite;
  animation: itemHover2 3.5s linear infinite; }

@-webkit-keyframes itemHover {
  0% {
    -webkit-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg); }
  100% {
    -webkit-transform: scale(1.05) rotate(360deg);
    transform: scale(1.05) rotate(360deg); } }

@keyframes itemHover {
  0% {
    -webkit-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg); }
  100% {
    -webkit-transform: scale(1.05) rotate(360deg);
    transform: scale(1.05) rotate(360deg); } }
@-webkit-keyframes itemHover2 {
  0% {
    -webkit-transform: scale(1.03) rotate(0deg);
    transform: scale(1.03) rotate(0deg); }
  100% {
    -webkit-transform: scale(1.03) rotate(360deg);
    transform: scale(1.03) rotate(360deg); } }
@keyframes itemHover2 {
  0% {
    -webkit-transform: scale(1.03) rotate(0deg);
    transform: scale(1.03) rotate(0deg); }
  100% {
    -webkit-transform: scale(1.03) rotate(360deg);
    transform: scale(1.03) rotate(360deg); } }
.wwai-data {
  display: none;
  width: 100%;
  float: left; }
.wwai-data .wwaid-item,
.wwai-data .wwaid-head,
.wwai-data .wwaid-name {
  width: 100%;
  text-align: center;
  font-family: g-m;
  font-size: 250%;
  color: #34495e;
  margin-top: 30px; }
.wwai-data .wwaid-head {
  font-size: 130%;
  color: #555;
  margin-top: 5px;
  margin-bottom: 20px; }
.wwai-data .wwaid-item {
  font-size: 150%;
  color: #555;
  margin-top: 10px; }

@media only screen and (max-width: 1080px) {
  .wwa-head {
    font-size: 80px; }

  .wwa-al-right .wwa-c-cont {
    font-size: 18px; }

  .wwa-itemSet {
    width: 100vw;
    margin: 100px 0; }

  .wwa-itemSet .wwa-item:hover,
  .wwa-itemSet .wwa-item {
    width: 26vw;
    margin: 10px 3.666%; }
  .wwa-itemSet .wwa-item:hover .wwai-hover-cont,
  .wwa-itemSet .wwa-item:hover .wwai-hover2,
  .wwa-itemSet .wwa-item:hover .wwai-hover,
  .wwa-itemSet .wwa-item:hover .wwai-img,
  .wwa-itemSet .wwa-item .wwai-hover-cont,
  .wwa-itemSet .wwa-item .wwai-hover2,
  .wwa-itemSet .wwa-item .wwai-hover,
  .wwa-itemSet .wwa-item .wwai-img {
    width: 20vw;
    height: 20vw;
    margin: 0 3vw; }
  .wwa-itemSet .wwa-item:hover .wwai-hover2,
  .wwa-itemSet .wwa-item:hover .wwai-hover,
  .wwa-itemSet .wwa-item .wwai-hover2,
  .wwa-itemSet .wwa-item .wwai-hover {
    margin: 0; }
  .wwa-itemSet .wwa-item:hover .wwai-name,
  .wwa-itemSet .wwa-item .wwai-name {
    font-size: 18px; }
  .wwa-itemSet .wwa-item:hover .wwai-name.-small,
  .wwa-itemSet .wwa-item .wwai-name.-small {
    font-size: 18px; }
  .wwa-itemSet .wwa-item:hover .wwa-item-cont,
  .wwa-itemSet .wwa-item .wwa-item-cont {
    padding-bottom: 100px; }

  .wwa-itemSet .wwa-item.active .wwa-item-background .wwa-item-cont .wwai-img {
    -webkit-transform: scale(0.9) translateX(-10vw);
    transform: scale(0.9) translateX(-10vw);
    margin-top: 20px; }

  .wwa-itemSet .wwa-item.active .wwai-name-cont {
    height: 20px; }

  .wwai-data .wwaid-name {
    font-size: 22px; }

  .wwai-data .wwaid-item,
  .wwai-data .wwaid-head {
    font-size: 18px !important; } }
@media only screen and (max-width: 800px) {
  .wwa-head {
    font-size: 60px; }

  .imgBox.wwa-al-right,
  .imgBox.wwa-al-left {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw; }

  .imgBox.wwa-al-right {
    margin-top: 0px; }
  .imgBox.wwa-al-right .wwa-c-cont {
    width: 100%; }

  .wwa-al-right .wwa-c-cont {
    font-size: 18px; }

  .wwa-itemSet {
    width: 100vw;
    margin: 100px 0; }

  .wwa-itemSet .wwa-item:hover,
  .wwa-itemSet .wwa-item {
    width: 36vw;
    margin: 10px 7%; }
  .wwa-itemSet .wwa-item:hover .wwai-hover-cont,
  .wwa-itemSet .wwa-item:hover .wwai-hover2,
  .wwa-itemSet .wwa-item:hover .wwai-hover,
  .wwa-itemSet .wwa-item:hover .wwai-img,
  .wwa-itemSet .wwa-item .wwai-hover-cont,
  .wwa-itemSet .wwa-item .wwai-hover2,
  .wwa-itemSet .wwa-item .wwai-hover,
  .wwa-itemSet .wwa-item .wwai-img {
    width: 26vw;
    height: 26vw;
    margin: 0 5vw; }
  .wwa-itemSet .wwa-item:hover .wwai-hover2,
  .wwa-itemSet .wwa-item:hover .wwai-hover,
  .wwa-itemSet .wwa-item .wwai-hover2,
  .wwa-itemSet .wwa-item .wwai-hover {
    margin: 0; }
  .wwa-itemSet .wwa-item:hover .wwai-name,
  .wwa-itemSet .wwa-item .wwai-name {
    font-size: 18px; }
  .wwa-itemSet .wwa-item:hover .wwai-name.-small,
  .wwa-itemSet .wwa-item .wwai-name.-small {
    font-size: 18px; }
  .wwa-itemSet .wwa-item:hover .wwa-item-cont,
  .wwa-itemSet .wwa-item .wwa-item-cont {
    padding-bottom: 100px; }

  .wwa-itemSet .wwa-item.active .wwai-data .wwaid-name {
    margin-bottom: 50px; }
  .wwa-itemSet .wwa-item.active .wwa-item-background .wwa-item-cont .wwai-img {
    -webkit-transform: scale(1.3) translateX(-10vw);
    transform: scale(1.3) translateX(-10vw);
    margin-top: 130px; }

  .wwai-data {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; } }
@media only screen and (max-width: 450px) {
  .wwa-head-set {
    margin-top: 97vh; }

  .wwa-head {
    font-size: 30px; }

  .wwa-motto {
    padding: 10px 50px;
    font-size: 10px;
    line-height: 150%; }

  .imgBox.wwa-al-left {
    margin-top: 5vw;
    height: 50vh; }
  .imgBox.wwa-al-left img {
    height: auto;
    width: 120%; }

  .imgBox.wwa-al-right,
  .imgBox.wwa-al-left {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw; }

  .imgBox.wwa-al-right {
    margin-top: 0px; }
  .imgBox.wwa-al-right .wwa-c-cont {
    width: 100%; }
  .imgBox.wwa-al-right .wwa-c-head1,
  .imgBox.wwa-al-right .wwa-c-head2 {
    font-size: 40px; }

  .wwa-al-right .wwa-c-cont {
    font-size: 16px; }

  .wwa-itemSet {
    width: 100vw;
    margin: 100px 0; }

  .wwa-itemSet .wwa-item:hover,
  .wwa-itemSet .wwa-item {
    width: 80vw;
    margin: 10px 10%; }
  .wwa-itemSet .wwa-item:hover .wwai-hover-cont,
  .wwa-itemSet .wwa-item:hover .wwai-hover2,
  .wwa-itemSet .wwa-item:hover .wwai-hover,
  .wwa-itemSet .wwa-item:hover .wwai-img,
  .wwa-itemSet .wwa-item .wwai-hover-cont,
  .wwa-itemSet .wwa-item .wwai-hover2,
  .wwa-itemSet .wwa-item .wwai-hover,
  .wwa-itemSet .wwa-item .wwai-img {
    width: 50vw;
    height: 50vw;
    margin: 0 15vw; }
  .wwa-itemSet .wwa-item:hover .wwai-hover2,
  .wwa-itemSet .wwa-item:hover .wwai-hover,
  .wwa-itemSet .wwa-item .wwai-hover2,
  .wwa-itemSet .wwa-item .wwai-hover {
    margin: 0; }
  .wwa-itemSet .wwa-item:hover .wwai-name,
  .wwa-itemSet .wwa-item .wwai-name {
    font-size: 18px; }
  .wwa-itemSet .wwa-item:hover .wwai-name.-small,
  .wwa-itemSet .wwa-item .wwai-name.-small {
    font-size: 18px; }
  .wwa-itemSet .wwa-item:hover .wwa-item-cont,
  .wwa-itemSet .wwa-item .wwa-item-cont {
    padding-bottom: 100px; }

  .wwa-itemSet .wwa-item.active .wwai-name-cont {
    height: 0; }
  .wwa-itemSet .wwa-item.active .wwai-data .wwaid-name {
    margin-bottom: 20px;
    margin-top: -20px; }
  .wwa-itemSet .wwa-item.active .wwa-item-background .wwa-item-cont .wwai-img {
    -webkit-transform: scale(0.8) translateX(-30vw);
    transform: scale(0.8) translateX(-30vw);
    margin-top: 30px;
    margin-bottom: 20px !important; }

  .wwa-itemSet .wwa-item.active .wwa-item-background .wwa-item-cont {
    top: 140px;
    bottom: 40px;
    overflow: auto; }

  .wwai-data .wwaid-item{
    font-size: 13px!important;
  }
  .wwai-data{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .wwai-data .wwaid-head{
    font-size: 15px!important;
  }
  .wwai-data .wwaid-name{
    font-size: 18px;
  }
  .wwa-itemSet .wwa-item.active .wwa-item-cont{
    padding-bottom: 0px;
  }
}
.header.active .headerBackground {
  top: 0px; }
.header.active ul li {
  color: #444; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999999; }
.header .headerBackground {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: absolute;
  height: 50px;
  z-index: -1;
  top: -60px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.5s; }
.header .logo {
  height: 30px;
  margin: 10px 20px; }
.header .logo img {
  height: 100%; }
.header ul {
  float: right;
  margin-right: 20px; }
.header ul li.active {
  color: #ff221c; }
.header ul li:hover {
  cursor: pointer; }
.header ul li {
  font-family: g-b;
  color: #fff;
  padding: 0 20px;
  font-size: 90%;
  height: 50px;
  line-height: 50px; }

.homePage {
  position: relative; }

.hp-landing {
  width: 100%;
  position: relative;
  z-index: 2; }
.hp-landing .hml-video {
  width: 100%;
  max-height: 100vh;
  overflow: hidden; }
.hp-landing .hml-video video {
  width: 100%; }

.pbc-heading-2.sp{
  font-family: g-l!important;
  span{
    font-family: g-b!important;
    color:rgb(46, 204, 113)!important;
  }
}

.pageBlock4{
  background-color: rgba(0,0,0,0.2);
}

.pageBlock.bg-black {
  background: #444; }

.pageBlock.bg-white {
  background: #fff; }

.pageBlock {
  margin-top: -2px;
  width: 100%;
  min-height: 80vh;
  font-family: g-m;
  position: relative;
  z-index: 2; }
.pageBlock .pb-content.-center {
  width: 100%;
  padding-top: 250px; }
.pageBlock .pb-content.-center .pbc-heading-1,
.pageBlock .pb-content.-center .pbc-heading-2,
.pageBlock .pb-content.-center .pbc-description {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center !important;
  background: transparent !important; }
.pageBlock .pb-content.-right {
  float: right;
  padding: 150px 100px 0 50px; }
.pageBlock .pb-content.-alt .pbc-heading-1,
.pageBlock .pb-content.-alt .pbc-heading-2,
.pageBlock .pb-content.-alt .pbc-description {
  color: #000; }
.pageBlock .pb-content.-alt .pbc-description {
  background: transparent;
  padding: 0; }
.pageBlock .pb-content.-alt .pbc-button {
  border: 1px solid #000;
  color: #000;
  background: transparent; }
.pageBlock .pb-content.-alt .pbc-button:hover {
  background: #000;
  color: #fff; }
.pageBlock .pb-content {
  width: 50%;
  padding: 150px 50px 0 100px; }
.pageBlock .pb-content .pbc-heading-1,
.pageBlock .pb-content .pbc-heading-2,
.pageBlock .pb-content .pbc-description {
  width: 80%;
  margin-right: 20%;
  color: #fff; }
.pageBlock .pb-content .pbc-heading-1 {
  font-family: g-l;
  font-size: 40px; }
.pageBlock .pb-content .pbc-heading-2 {
  font-family: g-b;
  font-size: 80px; }
.pageBlock .pb-content .pbc-description {
  font-family: g-l;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 22px;
  clear: both;
  line-height: 160%;
  position: relative;
  text-align: justify !important;
  text-justify: inter-word !important;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8); }
.pageBlock .pb-content .pbc-button:hover {
  background: #fff;
  color: #000;
  cursor: pointer; }
.pageBlock .pb-content .pbc-button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #000;
  color: #fff;
  transition: 0.3s; }
.pageBlock .hmt2-servo {
  position: relative;
  width: 38vw;
  height: 38vw;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 50px; }
.pageBlock .hmt2-servo img {
  width: 100%;
  height: auto;
  margin-top: 70px; }

.pageBlock100 {
  min-height: 100vh; }

.paraDiv {
  position: fixed;
  width: 100%; }
.paraDiv .bg {
  min-width: 100vw;
  min-height: 100vh; }
.paraDiv .hm-drone {
  position: absolute;
  margin-top: 250px;
  margin-right: 600px;
  -webkit-transform: rotate(65deg);
  transform: rotate(65deg);
  z-index: 5; }
.paraDiv .hm-drone .droneContainer {
  width: 100%;
  height: 100%; }
.paraDiv .hm-drone .hm-dbody {
  width: 180px; }
.paraDiv .hm-drone .hm-dleaf {
  position: absolute;
  top: 280px;
  left: -285px;
  width: 750px; }
.paraDiv .cloud {
  position: absolute;
  top: 70px;
  right: -300px;
  width: 1500px;
  height: auto;
  z-index: 1;
  opacity: 0.7; }
.paraDiv{
  .hm-tab{
    @extend box;
    position: absolute;
    z-index: 9999;
    bottom:-130px;
    right:10%;
    width: 50%;
  }
}
.footer-bottom {
  width: 100%;
  z-index: 90;
  background: #333;
  float: left;
  height: auto;
  position: relative; }
.footer-bottom .foo-right,
.footer-bottom .foo-left {
  float: left;
  height: 100%;
  width: 50%;
  margin: 70px 0 40px 0;
  /* Chrome/Safari */
  /* Firefox */
  -ms-box-sizing: border-box;
  /* IE10+ */
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10vw;
  border-right: 1px solid #666; }
.footer-bottom .foo-right .fool-head,
.footer-bottom .foo-right .fool-subhead,
.footer-bottom .foo-left .fool-head,
.footer-bottom .foo-left .fool-subhead {
  float: left;
  height: auto;
  width: 100%;
  line-height: 100%; }
.footer-bottom .foo-right .fool-head,
.footer-bottom .foo-left .fool-head {
  font-family: g-b;
  font-size: 40px;
  color: #fff; }
.footer-bottom .foo-right .fool-subhead,
.footer-bottom .foo-left .fool-subhead {
  font-size: 120%;
  line-height: 150%;
  font-family: g-m;
  color: #bbb; }
.footer-bottom form {
  width: 100%;
  float: left;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px; }
.footer-bottom form textarea,
.footer-bottom form input {
  width: 100%;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 45px;
  margin: 5px 0;
  padding-left: 15px;
  float: left;
  font-size: 110%;
  color: #fff;
  font-family: g-m; }
.footer-bottom form input[type=button] {
  padding-left: 0;
  background: #2ecc71; }
.footer-bottom form textarea {
  height: 100px;
  padding-top: 15px; }
.footer-bottom .foo-right {
  border: none;
  padding: 0;
  height: 100%; }
.footer-bottom .foo-right .foor-cont {
  text-align: center;
  font-family: g-m;
  color: #666;
  font-size: 150%;
  line-height: 140%; }
.footer-bottom .foo-right .foor-cont span {
  font-size: 110%;
  font-family: g-b; }
.footer-bottom .foo-right .foor-head {
  margin-top: 22vh;
  text-align: center;
  font-size: 70px;
  font-family: g-b;
  color: #777; }
.footer-bottom .foo-right .foor-foot:hover {
  color: #1abc9c;
  cursor: pointer; }
.footer-bottom .foo-right .foor-foot {
  position: absolute;
  line-height: 100px;
  text-align: right;
  right: 50px;
  font-family: g-m;
  bottom: 0;
  text-transform: uppercase;
  color: #777; }

@media only screen and (max-width: 1080px) {
  .pageBlock .pb-content.-center {
    padding-top: 170px; }
  .pageBlock .pb-content {
    padding-top: 90px; }
  .pageBlock .pb-content .pbc-heading-1,
  .pageBlock .pb-content .pbc-heading-2,
  .pageBlock .pb-content .pbc-description {
    width: 100%;
    margin-right: 0; }
  .pageBlock .pb-content .pbc-heading-1 {
    font-size: 30px; }
  .pageBlock .pb-content .pbc-heading-2 {
    font-size: 60px; }
  .pageBlock .pb-content .pbc-description {
    margin-top: 50px;
    font-size: 18px; }
  .pageBlock .hmt2-servo {
    margin-top: 110px; }

  .paraDiv .hm-drone {
    margin-top: 120px; }
  .paraDiv .hm-drone .droneContainer {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  .paraDiv .cloud {
    top: 0;
    width: 1200px; }

  .footer-bottom .foo-right .foor-head {
    font-size: 48px;
    margin-top: 175px; }

  .footer-bottom .foo-right .foor-cont {
    font-size: 98%; }

  .paraDiv{
    .hm-tab{
      bottom:60px;
    }
  }

}
@media only screen and (max-width: 800px) {
  .pageBlock .pb-content.-center .pbc-heading-1,
  .pageBlock .pb-content.-center .pbc-heading-2,
  .pageBlock .pb-content.-center .pbc-description {
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
  .pageBlock .pb-content.-alt,
  .pageBlock .pb-content {
    padding: 150px 100px;
    width: 100%; }
  .pageBlock .pb-content.-alt .pbc-heading-1,
  .pageBlock .pb-content .pbc-heading-1 {
    font-size: 30px; }
  .pageBlock .pb-content.-alt .pbc-heading-2,
  .pageBlock .pb-content .pbc-heading-2 {
    font-size: 60px; }
  .pageBlock .pb-content.-alt .pbc-description,
  .pageBlock .pb-content .pbc-description {
    font-size: 20px; }
  .pageBlock .hmt2-servo {
    width: 80vw;
    height: 70vw;
    margin-left: 9vw;
    margin-top: -50px; }
  .pageBlock .hmt2-servo img {
    margin-top: 0px; }

  .paraDiv .hm-drone {
    margin-top: 380px; }
  .paraDiv .hm-drone .droneContainer {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  .paraDiv .cloud {
    top: 120px;
    width: 1200px; }

  .footer-bottom .foo-right .foor-head {
    margin-top: 0px; }

  .footer-bottom .foo-right .foor-cont {
    margin-bottom: 180px; }

  .footer-bottom .foo-right, .footer-bottom .foo-left {
    width: 100%; }

  .footer-bottom .foo-right .foor-foot {
    bottom: 40px; }

  .paraDiv{
    .hm-tab{
      width: 100%;
      right: 0%;
      bottom:-33vh;
    }
  }
}
@media only screen and (max-width: 450px) {
  .header {
    background: #333;
    height: 100px; }
  .header ul {
    width: 100%;
    margin-right: 0; }
  .header ul li {
    width: 33.3333%;
    text-align: center; }

  .header.active .headerBackground {
    top: -70px; }
  .header.active ul li.active {
    color: #ff221c; }
  .header.active ul li {
    color: #fff; }

  .viewPort {
    margin-top: 100px; }

  .pageBlock .pb-content.-alt,
  .pageBlock .pb-content {
    padding: 50px; }
  .pageBlock .pb-content.-alt .pbc-heading-1,
  .pageBlock .pb-content .pbc-heading-1 {
    font-size: 30px; }
  .pageBlock .pb-content.-alt .pbc-heading-2,
  .pageBlock .pb-content .pbc-heading-2 {
    font-size: 50px; }
  .pageBlock .pb-content.-alt .pbc-description,
  .pageBlock .pb-content .pbc-description {
    font-size: 16px; }
  .pageBlock .hmt2-servo {
    width: 80vw;
    height: 70vw;
    margin-left: 9vw;
    margin-top: 20px; }

  .pageBlock1 {
    min-height: 150vh; }

  .paraDiv .hm-drone {
    margin-top: 100px;
    margin-right: 340px; }
  .paraDiv .hm-drone .droneContainer {
    -webkit-transform: scale(0.4);
    transform: scale(0.4); }
  .paraDiv .cloud {
    top: 120px;
    width: 1200px; }

  .footer-bottom .foo-right .foor-head {
    font-size: 30px; }

  .footer-bottom .foo-right .foor-cont {
    padding: 0 50px;
    font-size: 95%; }

  .footer-bottom .foo-right, .footer-bottom .foo-left {
    width: 100%; }

  .footer-bottom .foo-right .foor-foot {
    bottom: 0px;
    width: 100%;
    text-align: center;
    right: 0;
    left: 0; }

  .paraDiv{
    .hm-tab{
      bottom: 10vh;
    }
  }

  .pb-content1{
    background: #fff;
    .pbc-heading-1,
    .pbc-heading-2,
    .pbc-description {
      color: #000!important; }
    .pbc-button:hover {
      background: #000!important;
      color: #fff!important; }
    .pbc-button {
      border: 1px solid #000!important;
      color: #000!important;
      background: transparent!important; }
    .pbc-description {
      background: transparent!important;
      padding: 0!important; }
  }
}






.fullH {
  width: 100%;
  height: 100vh; }

.exploreCanvas {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  width: 55%;
  background: #d6d6d6; }

.exp-progress {
  position: fixed;
  width: 25%;
  height: 14px;
  margin-top: -7px;
  top: 50%;
  left: 15%;
  /* Chrome/Safari */
  /* Firefox */
  -ms-box-sizing: border-box;
  /* IE10+ */
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  padding: 3px;
  z-index: 1000; }
.exp-progress .expp-loaded {
  position: relative;
  float: left;
  width: 0;
  height: 100%;
  background: #fff;
  transition: 1s; }

.ell-message {
  position: fixed;
  bottom: 0;
  left: 0%;
  right: 45%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: g-m;
  color: rgba(0, 0, 0, 0.3); }

.exploreLanding {
  position: relative;
  float: left;
  z-index: 100; }
.exploreLanding .el-camTrigger {
  position: absolute;
  width: 55%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }
.exploreLanding .el-left.horizontal {
  position: absolute;
  left: 5%;
  right: 50%;
  width: auto;
  padding-top: 80px;
  bottom: auto !important;
  height: auto !important; }
.exploreLanding .el-left.horizontal .ell-item {
  width: 30%;
  margin: 0 1.65%;
  float: left;
  display: block; }
.exploreLanding .el-left.horizontal .ell-item.active {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.4); }
.exploreLanding .el-right,
.exploreLanding .el-left {
  position: absolute;
  left: 5%;
  z-index: 100;
  width: 200px;
  height: 100%;
  padding-top: 200px; }
.exploreLanding .el-right .ell-item:hover,
.exploreLanding .el-left .ell-item:hover {
  cursor: pointer; }
.exploreLanding .el-right .ell-item.active,
.exploreLanding .el-left .ell-item.active {
  background: #fff;
  color: #000; }
.exploreLanding .el-right .ell-item:hover:after,
.exploreLanding .el-left .ell-item:hover:after {
  width: 30px; }
.exploreLanding .el-right .ell-item.active:after,
.exploreLanding .el-right .ell-item.active:hover:after,
.exploreLanding .el-left .ell-item.active:after,
.exploreLanding .el-left .ell-item.active:hover:after {
  width: 30px;
  background: #fff; }
.exploreLanding .el-right .ell-item:before,
.exploreLanding .el-left .ell-item:before {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid white;
  left: -42px;
  top: 19px;
  background: none; }
.exploreLanding .el-right .ell-item,
.exploreLanding .el-left .ell-item {
  transition: 0.5s;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  font-family: g-m;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 120%;
  /* Chrome/Safari */
  /* Firefox */
  -ms-box-sizing: border-box;
  /* IE10+ */
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid white;
  border-color: rgba(255, 255, 255, 0.1); }
.exploreLanding .el-right:before,
.exploreLanding .el-right:after {
  content: '';
  display: block;
  float: left;
  position: fixed;
  top: 0;
  width: 45%;
  right: 0;
  height: 80px;
  z-index: 10;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,1+25,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, white 25%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */ }
.exploreLanding .el-right:after {
  height: 120px; }
.exploreLanding .el-right:before {
  bottom: 0;
  top: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+75,1+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 75%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }
.exploreLanding .el-right::-webkit-scrollbar {
  width: 12px;
  background: #ddd; }
.exploreLanding .el-right::-webkit-scrollbar-button {
  opacity: 0; }
.exploreLanding .el-right::-webkit-scrollbar-track {
  opacity: 0; }
.exploreLanding .el-right::-webkit-scrollbar-track-piece {
  opacity: 0; }
.exploreLanding .el-right::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4); }
.exploreLanding .el-right::-webkit-scrollbar-corner {
  opacity: 0; }
.exploreLanding .el-right::-webkit-resizer {
  opacity: 0; }
.exploreLanding .el-right {
  left: auto;
  color: #333333;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  background: #fff;
  right: 0;
  width: 45%;
  bottom: 0;
  top: 0;
  height: auto;
  overflow: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 0px; }
.exploreLanding .el-right .elr-head {
  position: relative;
  width: 100%;
  font-size: 25px;
  float: left;
  margin-bottom: 30px; }
.exploreLanding .el-right .elr-cont {
  position: relative;
  float: left;
  line-height: 1.56;
  margin-bottom: 130px;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; }
.exploreLanding .el-right .elr-cont table {
  width: 100%;
  margin-top: 30px; }
.exploreLanding .el-right .elr-cont table td {
  padding-right: 20px; }
.exploreLanding .el-right .elr-cont p {
  line-height: 150%;
  width: 100%;
  display: block;
  float: left; }
.exploreLanding .el-right .elr-cont .elrc-heading {
  float: left;
  font-size: 140%;
  clear: both;
  margin-top: 20px; }
.exploreLanding .el-right .elr-cont .elrh-bold {
  float: left; }
.exploreLanding .el-right .elr-cont .elrh-chips.-big {
  line-height: 40px;
  height: 40px;
  font-size: 120%;
  clear: both;
  border-radius: 20px; }
.exploreLanding .el-right .elr-cont .elrh-chips {
  color: #222;
  display: block;
  float: left;
  background: #fff;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  margin-top: 2px;
  margin-left: 3px;
  font-size: 80%;
  border-radius: 15px; }
.exploreLanding .el-right .elr-cont .elrc-main {
  font-size: 150%; }

.exploreL2 {
  width: 100%;
  float: left;
  z-index: 100;
  position: relative;
  background: #fff; }

@media only screen and (max-width: 800px) {
  .exp-progress {
    width: 30%;
    margin-top: -7px;
    top: 25%;
    left: 35%;
  }
  .exploreCanvas {
    width: 100% !important;
    bottom: 50% !important;
    height: auto !important; }

  .exploreLanding .el-right {
    width: 100%;
    top: 55%; }

  .exploreLanding .el-right:before, .exploreLanding .el-right:after {
    display: none; }

  .exploreLanding .el-left.horizontal {
    top: 55%;
    margin-top: -70px;
    left: 0%;
    right: 0%;
    width: 100%;
    height: auto;
    z-index: 999999 !important;
    padding: 20px 10%;
    background: #eee; }

  .exploreLanding .el-left.horizontal .ell-item.active {
    background: #ddd; }

  .exploreLanding .el-left.horizontal .ell-item {
    color: #555;
    border-color: #999; } }
@media only screen and (max-width: 450px) {
  .exp-progress {
    margin-top: 40px;
  }
  .fullH {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    height: auto;
    bottom: 0; }

  .exploreLanding .el-left.horizontal {
    margin-top: -80px;
    padding: 10px 0; }

  .exploreLanding .el-left.horizontal .ell-item {
    font-size: 13px; }

  .exploreLanding .el-right {
    padding: 30px; }
  .exploreLanding .el-right .elr-cont {
    font-size: 15px;
    margin-bottom: 20px; }
}