@charset "UTF-8";

$fontSizeH1 : 40px;
$fontSizeH2 : 80px;
$fontSizeDesc : 22px;

/*Lap*/
$screenLap : 1080px;

$fontSizeH1-L : 30px;
$fontSizeH2-L : 60px;
$fontSizeDesc-L : 18px;

/*Tab*/
$screenTab : 800px;

$fontSizeH1-T : 30px;
$fontSizeH2-T : 60px;
$fontSizeDesc-T : 20px;

/*Mobile*/
$screenMobile : 450px;

$fontSizeH1-M : 30px;
$fontSizeH2-M : 50px;
$fontSizeDesc-M : 16px;

