@import 'variables';
@import 'baseFunctions';

@font-face {
  font-family: g-b;
  src: url(../../fonts/Gotham/Gotham-Bold.ttf); }
@font-face {
  font-family: g-m;
  src: url(../../fonts/Gotham/Gotham-Book.ttf); }
@font-face {
  font-family: g-l;
  src: url(../../fonts/Gotham/Gotham-Light.ttf); }

